#selected-item-icon {
    visibility: hidden;
    position: absolute;
    right: 0;
    background-image: resource('Bundles/Cars/Volkswagen Golf Mk6/MFA Plus/Icons/mfa_arrow-left-s-fill');
    width: 36px;
    height: 36px;
}

.selected-item #selected-item-icon {
    visibility: visible;
}

#settings-list {
    margin-top: 20px;
    margin-bottom: 20px;
    flex-grow: 1;
}
